/*CSS VARIABLES*/

:root{
--primary : #ddd;
--dark : #333;
--light : #fff;
--shadow :0 1px 5px rgba(104 , 104 ,104,0.8);
}

html{
	box-sizing: border-box; /*padding does not effect the width of the element
*/
font-family: Arial , Helvetica, sans-serif;
color : #333;
}

body{
	background: #ccc;
	margin :30px 50px;
	line-height: 1.4;
}
.btn{
	background: #333;
	color : #fff;
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border:0;
}

img{
	max-width: 100%;
}
.wrapper{
	display: grid;
	grid-gap: 20px;
}

/*NAVIGATION*/
.main-nav ul{
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style-type: none;
	grid-template-columns: repeat(4, 1fr);
}
.main-nav a{
	background: #ddd;
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: 0 1px 5px rgba(104 , 104 ,104,0.8);
}
.main-nav a:hover{
	background: #333;
	color: #fff;
}

:root{
--primary : #ddd;
--dark : #333;
--light : #fff;
--shadow :0 1px 5px rgba(104 , 104 ,104,0.8);
}
/*Top Container*/

.top-container{
	display: grid;
	grid-gap: 20px;
grid-template-areas:
 'showcase showcase top-box-a'
 'showcase showcase top-box-b';
}

/*SHOWCASE*/
.showcase{
	grid-area: showcase;
	min-height: 400px;
	background: url('img/p9.jpeg');
	background-size: cover;
	background-position: center;
	padding: 3rem;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
box-shadow: 0 1px 5px rgba(104 , 104 ,104,0.8);
}

.showcase h1{
	font-size: 4rem;
	margin-bottom: 0;
	color:#fff;
}
.showcase p{
	font-size: 1.3rem;
	margin-bottom: 0;
	color:#fff;
}
.top-box{
	background: #ddd;
	display: grid;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 5px rgba(104 , 104 ,104,0.8);
	padding: 1.5rem;
}
.top-box .price{
	font-size: 2.5rem;
}
.top-box-a{
	grid-area: top-box-a;

}
.top-box-b{
	grid-area: top-box-b;
	
}

/*BOXES*/

.boxes{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); /*this way it will auto responsive , needs no media query*/
}

.box{
	background: #ddd;
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow:0 1px 5px rgba(104 , 104 ,104,0.8);
}
info{
	background: #ddd;
	box-shadow: 0 1px 5px rgba(104 , 104 ,104,0.8);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}
.portfolio{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.portfolio img{
	width: 100%;
	box-sizing: 0 1px 5px rgba(104 , 104 ,104,0.8);
}
footer{
	margin-top: 2rem;
	background: #333;
	color:#fff;
	text-align: center;
	padding: 1 rem;
}
:root{
--primary : #ddd;
--dark : #333;
--light : #fff;
--shadow :0 1px 5px rgba(104 , 104 ,104,0.8);
}
/*MEDIA QUERIES*/

@media (max-width: 700px){
	/*applicable if the screen is 700px or less*/
	.top-container{
		grid-template-areas: 
	'showcase showcase'
	'top-box-a top-box-b';
	}
	.showcase h1{
		font-size: 2.5rem;
	}
	.info , .main-nav ul
	{
		grid-template-columns: 1fr;
	}
	.info .btn{
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media (max-width: 500px){
	.top-container{
		grid-template-areas: 
	'showcase '
	'top-box-a'
	'top-box-b';
	}